@import url('../../fonts/IRANYekanX/IRANYekanX/Webfonts/style.css');
select{
    direction: rtl;
}
.carousel__icon{
    display: none;
    transition: all 0.8s;
    
}
.carousel:hover .carousel__icon{
    display: flex;
    transition: all 0.3s;
    
}
.carousel{
    transition: all 0.3s;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
@tailwind base;
@tailwind components;
@tailwind utilities;

