@import url("../../fonts/IRANYekanX/IRANYekanX/Webfonts/style.css");
*,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    overflow-x: hidden;
  }
.carousel__icon {
  display: none;
  transition: all 0.8s;
}
.carousel:hover .carousel__icon {
  display: flex;
  transition: all 0.3s;
}
.carousel {
  transition: all 0.3s;
}
select {
  direction: rtl;
  -webkit-appearance: none;
  appearance: none;
}
.pname{
  direction:rtl ;
}

/* Custom arrow */
.prudoctselect {
  /* background-image: url("/public/images/expand_more_FILL0_wght400_GRAD0_opsz24.svg"); */
  background-image: url("data:image/svg+xml;utf8,<svg fill='lightgray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 254px) center;
}
.checkoutselect {
  /* background-image: url("/public/images/expand_more_FILL0_wght400_GRAD0_opsz24.svg"); */
  background-image: url("data:image/svg+xml;utf8,<svg fill='lightgray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 600px) center;
}
.contactUsSelect{
  background-image: url("data:image/svg+xml;utf8,<svg fill='lightgray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 385px) center;
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
/* removing icons from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
